html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
}

a {
    &:focus {
        outline: none;
    }
}

// Main page wrapper
#wrapper {
    display: flex;
    #content-wrapper {
        background-color: $gray-100;
        width: 100%;
        overflow-x: hidden;
        #content {
            flex: 1 0 auto;
        }
    }
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: $white;
    background: fade-out($gray-800, 0.5);
    line-height: 46px;
    &:focus,
    &:hover {
        color: white;
    }
    &:hover {
        background: $gray-800;
    }
    i {
        font-weight: 800;
    }
}
.input-group {
    input {
        &::placeholder {
            text-align: right !important;
        }
    }
}

.dropdown-menu {
    text-align: right !important;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
select:focus,
select:active,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 0 0 $primary;
    border: 1px solid $primary !important;
}

.filter-option-inner-inner {
    text-align: right !important;
}

.bootstrap-select {
    width: 100% !important;

    background-color: #ffffff;
    .dropdown-toggle {
        background-color: #ffffff !important;
        border: 1px solid #d1d3e2;
    }
    button {
        &:focus {
            box-shadow: inset 0 0 0 $primary;
            border: 1px solid $primary !important;
            outline: none !important;
        }
    }
}
.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
    box-shadow: inset 0 0 0 $primary;
    border: 1px solid transparent;
}
